{% extends "layout.njk" %}
{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ site.name }} | {{ title }}</title>
<link href="_css/deltion.css" rel="stylesheet">
<link href="_css/extra.css" rel="stylesheet">
<link href="_css/prism-one-light.css" rel="stylesheet">

{% endblock %}