<!DOCTYPE html>
<html lang="nl">
<head>
   {% block head %} {% endblock %}   
</head>
<body>
   


<!-- start deltion opmaak canvas -->

<div class="deltionv2-center-template">
    <div class="deltionv2-template-container">
        <section class="deltionv2-addbanner">
            <div class="deltionv2-addcontent">
                <div class="deltionv2-addcontent-header">
                    <h2>{{ title }}</h2>
                </div>
            </div>
        </section>
        <div class="deltionv2-content-section">
                    {{ content | safe }}           
        </div>
        <!-- <footer class="deltionv2-footer">
            <div class="deltionv2-footerbuttons"><a href="https://www.deltion.nl/bij-deltion/ons-roc" target="_blank" rel="noopener">Over Deltion College</a><a href="https://leeromgeving.deltion.nl/courses/591/pages/disclaimer-2" target="_blank" rel="noopener" data-api-endpoint="https://leeromgeving.deltion.nl/api/v1/courses/591/pages/disclaimer-2" data-api-returntype="Page">Disclaimer</a><a href="https://www.deltion.nl/privacy" target="_blank" rel="noopener">Privacy</a></div>
        </footer> -->
    </div>
</div>

<!-- eind deltion opmaak canvas -->

</body>
</html>