<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.name }} | {{ title }}</title>
    <link href="{{ '/_css/deltion.css' |  htmlBaseUrl }}" rel="stylesheet">
    <link href="{{ '/_css/extra.css' |  htmlBaseUrl }}" rel="stylesheet">
    <link href=" {{ ' /_css/prism-one-light.css' | htmlBaseUrl }}" rel="stylesheet">
</head>

<body>

{% block layout %}{% endblock %}

</body>
</html>
