{% extends "page.njk" %}
{% block layout %}
  <header>
        <div class="container">
            <a id="logolink" href="/"><img id="logo" class="standard" src="{{ ' /_assets/logo.svg'  }}" alt="logo"></a>
            <nav>
                {% for item in nav.items %}
                <a href="{{ item.url }}" class="nav-link" {% if item.url==page.url %}aria-current="page"
                    data-state="active" {% endif %}>{{ item.name }}</a>
                {% endfor %}
                <a class="nav-link" href="https://github.com/siewers32/eleventy/blob/master/{{ page.inputPath }}"><span
                        class="material-icons">edit</span></a>

                {% block menu %}
                <a href="#" id="menu"><span class="material-icons">menu</span></a>
                {% endblock %}
            </nav>
        </div><!-- container -->
    </header>
{% endblock %}